body
{
    background-color: white;
    text-align: center;
}
.maincontainer
{
    width: 930px;
    text-align: left;
}
.app_header
{
    width: 928px;
    height: 25px;
    background-color: #2a96e2;
    border-left: 1px solid #666666;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    text-align: right;
    color: White;
    font-family:Corbel;
    font-weight:normal;
    font-size:10pt;
}
.app_logo
{
    width: 930px;
    height: 100px;
}
.app_nav
{
    width: 928px;
    height: 29px;
    background-image: url(../images/nav_repeat.jpg);
    background-repeat: repeat-x;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}
.app_info
{
    width:930px;
    height:100px;
    background-image:url(../images/app_info.jpg);
    background-repeat:no-repeat;
    margin-top:10px;
    margin-bottom:10px;
}
.padleft10
{
    padding-left: 10px;
    padding-right: 10px;
}
.cnt_container760
{
    width: 550px;
    height: auto;
    margin-top:10px;
    margin-bottom:10px;
}
.cnt_header760
{
    width: 550px;
    height: 12px;
    background-image: url(../images/content_header.jpg);
    background-repeat: no-repeat;
}
.cnt_title760
{
    width: 548px;
    height: 25px;
    border-right: 1px solid #0070bf;
    border-left: 1px solid #0070bf;
    background-color: #2a96e2;
    color: White;
    font-family: Corbel;
    font-weight: bold;
    font-size: 12pt;
}
.cnt_body760
{
    width: 548px;
    height: auto;
    border-right: 1px solid #0070bf;
    border-left: 1px solid #0070bf;
    font-family: Corbel;
    font-size: 12pt;
}
.cnt_footer760
{
    width: 550px;
    background-image: url(../images/content_footer.jpg);
    height: 12px;
    background-repeat: no-repeat;
}
.header380
{
    margin-top:10px;
    width:364px;
    height:9px;
    background-image:url(../images/380_header.jpg);
}
.content380
{
    width:362px;
    height:auto;
    border-left:1px solid #0070bf;
    border-right:1px solid #0070bf;
    font-family:Verdana;
    font-size:10pt;
    font-weight:normal;
}
.footer380
{
    filter:flipv;
    height:9px;
    width:364px;
    background-image:url(../images/380_header.jpg);
}
.currentPager
{
    font-family:verdana;
    font-size:10pt;
    font-weight:bold;
    color:orange;
}
.otherPager
{
    font-family:Verdana;
    font-size:10pt; 
    color:Blue;
}   
.detailImageList
{
    width:100%;
    height:auto;
    text-align:center;
}
.detailImage
{
    width:275px;
    text-align:center;
}
.detailImageControl
{
    border:1px solid silver;
}
.margin
{
    margin-top:10px;
    margin-bottom:10px;
}
.staticMenu
{
    padding-top:3px;
    color:White;
    font-family:Verdana;
    font-size:10pt;
    padding-left:10px;
    padding-right:10px;
}
.staticActive
{
    color:Orange;
}